.flex-container{
    display:flex;
    flex-direction:row;
}
.flex {
	display: flex;
	align-items: left;
	justify-content: center;
    flex-wrap: wrap;
    width: 90%;
}
.flex-icon {
    display: flex;
	justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width:5%;
}
.card {
    margin: 2em 2.5em;
    width: 19%;
    box-shadow: 0 8px 8px 0 rgba(0,0,0,0.2);
}

img.resize {
    width: 100%;
    height: 100%;
}

img.icon {
    width: 32px;
    height: 32px;
    cursor: pointer;
}

img.clickable {
    cursor: pointer;
}

img.hidden {
    opacity: 0;
    cursor: auto;
}

.card-row {
    display: flex;
    margin: 0 -0.5rem;
  }
  
.card-col {
flex: 1 0 calc(50% - 1rem);
margin: 0 0.5rem;
}

.max-added {
    -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
    filter: grayscale(1);
}